@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: medium;
  background-color: rgb(226, 92, 92);
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.header-left {
  flex: 1;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.header-right {
  display: flex;
  gap: 20px;
  padding-right: 3rem;
}

.header-right a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.header-right a:hover {
  color: lightgray;
}

.about,
.certifications,
.timeline,
.projects,
.contact {
  padding: 2rem 0;
}

.about {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(38, 22, 65);
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
}

.about img {
  width: 8rem;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.logos a {
  margin: 0 15px;
  font-size: 24px;
  color: #b8b8b8;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.logos a:hover {
  color: #d8ca51;
}

.certifications{
  display: flex;
}

.cert-text{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  float: left;
  width: 40%;
}

.cert-img{
  display: flex;
  justify-content: space-around;
  text-align: center;
  float: right;
  width: 60%;
}

.cert-img img{
  width: 8rem;
}