@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: medium;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.header-left {
  flex: 1;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.header-right {
  display: flex;
  gap: 20px;
  padding-right: 3rem;
}

.header-right a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.header-right a:hover {
  color: lightgray;
}

.about,
.certifications,
.timeline,
.projects,
.contact {
  padding: 2rem 0;
}

.about {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(38, 22, 65);
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
}

.about img {
  width: 8rem;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.logos a {
  margin: 0 15px;
  font-size: 24px;
  color: #b8b8b8;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.logos a:hover {
  color: #d8ca51;
}

.certifications {
  padding-top: 4rem;
  display: flex;
  background-color: #f5f5f5;
}

.cert-text {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  float: left;
  width: 40%;
}

.cert-img {
  display: flex;
  text-align: center;
}

.cert-img-row1 .cert-img-row2 {
  display: flex;
  justify-content: space-around;

}

.cert-img img {
  width: 8rem;
}

.timeline {
  padding-top: 4rem;
  position: relative;
  margin: 0 auto;
  background-color: #534646;
}

.timeline h1 {
  text-align: center;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 0.5rem;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 8rem;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 70%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  right: -1rem;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 1rem;
  border-radius: 100%;
  z-index: 1;
}

/* Place the container to the right */
.right {
  left: 8.2rem;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px) {

  /* Place the timelime to the left */
  .timeline::after {
    left: 3rem;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot *  .right::after {
    left: 2rem;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.projects {
  padding: 100px 0;
  background-color: #f5f5f5;
}

.projects h1 {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.project-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 5rem;
}

.project-box {
  max-width: 14rem;
  min-width: 5rem;
  background-color: #b7963c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 1rem 1rem;
  color: white;
  transition: transform 0.3s ease-in-out;
  text-align: left;
}

.project-box h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.project-box p {
  font-size: .9rem;
  margin-bottom: 1rem;
}

.project-link {
  
  display: inline-block;
  background-color: white;
  color: #e68524;
  border: 1px solid #3b3b14;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.project-link:hover {
  background-color: #615112;
  color: white;
}

.contact {
  padding: 100px 0;
  text-align: center;
  background-color: #f5f5f5;
  display: flex; /* Add flex display to arrange items side by side */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.contact h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

.contact-info {
  flex: 1; 
  text-align: left;
  max-width: 600px;
  padding: 0 20px;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-list li {
  font-size: 18px;
  margin-bottom: 15px;
}

.contact-list i {
  margin-right: 10px;
  color: #007bff;
}

.site-map {
  flex: 1; /* Allow the content to grow or shrink based on available space */
  text-align: left;
  padding: 0 20px;
}

.site-map h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sitemap-list {
  list-style: none;
  padding: 0;
}

.sitemap-list li {
  margin-bottom: 10px;
}

.sitemap-list a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease-in-out;
}

.sitemap-list a:hover {
  color: #0056b3;
}
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.footer-content a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-content a:hover {
  color: #007bff;
}
